/**************************************************
*
*   web color
*
*   white       : #fff
*   lightyellow : #FFFDE5
*   orange		: #FBB11D
*   green		: #BFC23D
*   red			: #E77876
*	brown		: #B8A880
*   blue		: #B0DEDB
*   dark gray   : #333
*
**************************************************/

/*
basic
*/

* {
	transform: translateZ(0);
	font-family: "wt011";
	font-weight: "400";
}

main {
	background: lightblue url(../img/bg.jpg);
	background-size: cover;
}

p {
	font-size: 1.8rem;
	font-weight: 600;
}

a,
span {
	font-size: 1.4rem;
}

.display_none {
	display: none;
}

/*******************************************************************
-------------------------------loading-------------------------------
********************************************************************/

.loading_wapper {
    z-index: 17;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #FFFDE5;
}

.loading-role img {
	width: 10%;
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%,-50%);
}

.loading_count {
	color: #333;
	font-size: 1rem;
	position: absolute;
	left: 50%;
	top: 50vh;
	transform: translate(-50%,-50%);
}

/*******************************************************************
-------------------------------slogan-------------------------------
********************************************************************/

.slogan {
	z-index: 16;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #FFFDE5;
}

.slogan_text {
	width: 100%;
	height: 100%;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	transition: 1.5s ease;
}

.slogan_text img {
	height: inherit;
}

/*******************************************************************
-------------------------------video--------------------------------
********************************************************************/

.video_box {
	display: none;
	z-index: 20;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
}

.video_close {
	z-index: 10;
	position: absolute;
	right: 3%;
	top: 5%;
	width: 50px;
	height: 50px;
	color: #fff;
	font-size: 2.5rem;
	background-color: transparent;
	border: #fff 2px solid;
	border-radius: 50%;
}

.video_close:hover {
	background-color: rgba(256,256,256,0.5);
}

.video_open {
	display: block;
}

#video_gaga {
	width: 100vw;
	height: 100vh;
}

/*******************************************************************
-------------------------------navbar-------------------------------
********************************************************************/

.menubar {
	z-index: 15;
	width: 100%;
	height: 100px;
	position: absolute;
	padding: 50px 20px 0;
	text-align: center;
}

.logo,
.home,
.gaga,
.daanriver,
.spice,
.farming,
.fruit,
.blog {
	display: inline-block;
	width: 140px;
	height: 45px;
	background-size: cover !important;
	text-align: center;
}

.hover_a {
	color: #333;
	letter-spacing: 1px;
}

.hover_area {
	border-right: 1px dashed #333;
}

.hover_area div {
	width: 80%;
}

.blog {
	border-right: 0;
}

.active .hover_a .btn_menu {
	color: #FFFDE5;
	letter-spacing: 1px;
}

.active .hover_a .btn_menu:hover {
	color: #333;
}

.active .hover_a .btn_menu::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #FBB11D;
}

.btn_menu {
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.btn_menu h6{
	margin-top: 7px;
}

/****************************************
------------menu hover effect-----------
*****************************************/

.hover_a:hover {
	color: #FFFDE5;
}

.hover_a .btn_menu::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 4px;
	background-color: #FBB11D;
	transition: .35s;
}

.hover_a:hover .btn_menu::after {
	width: 100%;
}

/*******************************************************************
------------------------------section0------------------------------
********************************************************************/

#section0 {
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
}

/*******************************************************************
------------------------------section1------------------------------
********************************************************************/

#section1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	pointer-events: none;
}

/****************************************
-----------------星球本體-----------------
*****************************************/

.circle_hover {
	z-index: 8;
}

.circle_cube {
	z-index: 3;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-align: right;
	pointer-events: none;
}

.circle_cube img {
	transition: all 2s;
	position: absolute;
	transform: rotate(0deg);
	right: 5%;
	height: inherit;
	margin-left: 0;
}

.circle_normal {
	animation-name: circle_animate;
	animation-direction: alternate;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes circle_animate {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(5%);
	}
}

.circle_btn_hover {
	z-index: 5;
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
}

.circle_btn_hover.show {
	opacity: 1;
}

.circle_shandow_daanriver,
.circle_shandow_spice,
.circle_shandow_farming,
.circle_shandow_fruit {
	opacity: 0;
}

.circle_daanriver,
.circle_spice,
.circle_farming,
.circle_fruit {
	width: 22vw;
	height: 22vw;
	position: absolute;
	border-radius: 50%;
}

.circle_outside {
	z-index: 50;
}

.circle_daanriver {
	top: 7%;
	right: 30%;
}

.circle_spice {
	right: 4%;
	top: 16%;
}

.circle_farming {
	right: 13%;
	bottom: 0;
}

.circle_fruit {
	right: 37%;
	bottom: 5%;
}

.circle_btn {
	color: #333;
	opacity: 0.9;
	position: absolute;
	width: 45%;
	height: 45%;
	top: 30%;
	left: 30%;
	transform: scale(0);
	background: url(../img/circle.svg) center;
	background-size: cover;
	text-align: center;
	transition: transform .5s ease;
}

.circle_btn.open {
	transform: scale(1);
}

.circle_btn p {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

/****************************************
-----------------鳥的物件-----------------
*****************************************/

.bird_cube {
	z-index: 100;
	position: absolute;
	right: 15%;
	bottom: 0;
	width: 100vh;
	height: 100vh;
	animation-name: bird_animate;
	animation-duration: 7s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	pointer-events: none;
}

.bird {
	width: 50%;
	height: 40%;
	top: 10%;
	left: 30%;
	transform: rotate(75deg);
}

@keyframes bird_animate {
	0% {
		transform: rotate(0deg);
		width: 40vh;
	}
	50% {
		width: 65vh;
	}
	100% {
		transform: rotate(360deg);
		width: 40vh;
	}
}

/****************************************
-----------------漂浮島們-----------------
*****************************************/

.island_cube {
	position: absolute;
	left: 0;
	top: 0;
	width: 90vh;
	height: 100vh;
}

.island1 {
	width: 100%;
	height: 50%;
}

.island1_img {
	height: 45%;
	position: absolute;
	right: 15%;
	bottom: 0;
	animation-name: island1_animate;
	animation-direction: alternate;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.island2 {
	width: 100%;
	height: 50%;
}

.island2 img {
	height: 75%;
	position: absolute;
	top: 10%;
	left: 20%;
	animation-name: island2_animate;
	animation-direction: alternate;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes island1_animate {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(20%);
	}
}

@keyframes island2_animate {
	from {
		transform: translateY(10%);
	}
	to {
		transform: translateY(0);
	}
}

/****************************************
------------------跳跳蟲------------------
*****************************************/

.jump {
	position: absolute;
	left: 25%;
	top: -15%;
	width: 170px;
	height: 170px;
	background-size: cover;
	animation-name: island2_animate;
	animation-direction: alternate;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.jump_btn {
    z-index: 100;
    position: absolute;
    top: 44%;
    left: 12.5%;
    width: 170px;
    height: 170px;
}

/****************************************
-----------------點擊提示-----------------
*****************************************/

.hint {
	position: absolute;
	top: 35%;
	left: -100%;
	width: 60%;
	height: 60%;
	background: url(../img/text_01.svg) center no-repeat;
	background-size: contain;
	text-align: center;
	transition: 3s ease;
}

.hint div {
	color: #734338;
	opacity: .8;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-55%,-50%);
	width: 100%;
}

.hint img {
	width: 45px;
	height: 45px;
}

.hint.hint_animate {
	left: 10%;
}

.hint.hint_animate2 {
	animation-name: island2_animate;
	animation-direction: alternate;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

/*******************************************************************
------------------------------section2------------------------------
********************************************************************/

#section2 {
	display: none;
	z-index: 15;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

.section2_text_area {
	width: 100%;
	height: 100%;
	background: url("../img/bg2.jpg") no-repeat;
	background-size: cover;
}

.section2_text {
	width: 70%;
	height: 65%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.section2_text_area_close {
	z-index: 10;
	position: absolute;
	right: 3%;
	top: 5%;
	width: 50px;
	height: 50px;
	color: #fff;
	font-size: 2.5rem;
	background-color: rgba(251,177,29,.8);
	border: #FBB11D 2px solid;
	border-radius: 50%;
}

.section2_text_area_close:hover {
	background-color: rgba(251,177,29,.6);
}

.section2_text article {
	margin-bottom: 40px;
}

.section2_text div {
	display: inline-block;
}

.date_circle {
	text-align: center;
	width: 150px;
	height: 150px;
	border: 3px #FBB11D solid;
	border-radius: 50%;
	margin-right: 10px;
}

.date_circle div {
	width: 100%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.date_today {
	background-color: rgba(251,177,29,0.5);
}

/*******************************************************************
------------------------------section3------------------------------
********************************************************************/

#section3 {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/****************************************
-----------------過場動畫-----------------
*****************************************/

.circle_cube img.sec3_1 {
	height: 250%;
	transform: rotate(22deg);
	right: -35%;
	top: 10%;
}

/****************************************
----------------左右對話框----------------
*****************************************/

.section3_left {
	position: absolute;
	top: 25%;
	left: 10%;
	width: 30%;
	height: 30%;
}

.section3_left article {
	line-height: 2;
}

.section3_right {
	position: absolute;
    top: 17%;
    right: -8%;
    width: 60%;
    height: 40%;
    background: url(../img/text_02.svg) center no-repeat;
    background-size: contain;
}

.section3_right article {
	text-align: center;
	position: absolute;
	top: 49%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.section3_left p {
	margin-bottom: 25px;
}

.section3_right a {
	color: #333;
    width: auto;
    height: auto;
    background-color: #FBB11D;
    padding: 10px 20px;
    border-radius: 4px;
}

.section3_right a:hover {
	color: #555;
	background-color: rgba(251,177,29,.8);
	text-decoration: none;
}

/****************************************
--------------德瑪汶資訊圖表--------------
*****************************************/

.section3_text_area {
	display: none;
	z-index: 1;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: url("../img/bg2.jpg") no-repeat;
	background-size: cover;
}

.section3_text {
	text-align: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	overflow-y: scroll;
}

.section3_text img {
	height: inherit;
	border-bottom: #30539d 1px solid;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}

.section3_text_area_close {
	z-index: 10;
	position: absolute;
	right: 3%;
	top: 5%;
	width: 50px;
	height: 50px;
	color: #fff;
	font-size: 2.5rem;
	background-color: rgba(251,177,29,.8);
	border: #FBB11D 2px solid;
	border-radius: 50%;
}

.section3_text_area_close:hover {
	background-color: rgba(251,177,29,.6);
}

/*******************************************************************
------------------------------section4------------------------------
********************************************************************/

#section4 {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.section4_text {
	z-index: 1;
	text-align: right;
	position: absolute;
    top: 42%;
    right: 10%;
    width: 30%;
    height: 30%;
}

.section4_text article {
	line-height: 2;
}

/****************************************
----------------香料樹按鈕----------------
*****************************************/

.spice_btn_hover {
	position: relative;
	z-index: 300;
}

.spice_btn {
	width: 21vw;
	height: 21vw;
	position: absolute;
	border-radius: 50%;
}

.spice_btn_1 {
	top: 21vh;
	left: 18%;
}

.spice_btn_2 {
	top: 10vh;
	left: 38%;
}

.spice_btn_3 {
	top: 10vh;
	left: 59%;
}

.spice_btn:hover {
	text-decoration: none;
}

.spice_btn div {
	text-align: center;
	position: relative;
	left: 45%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.spice_btn p {
	color: #fff;
	font-size: 2.5rem;
	display: inline;
}

.spice_btn_img {
	width: 100%;
	height: 100%;
	pointer-events: none;
	position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.spice_btn_img.show {
	opacity: 1;
}

.spice_btn_img img {
	position: absolute;
	height: 250%;
	transform: rotate(-64deg);
	right: -20%;
	top: 10%;
}

/****************************************
---------------刺蔥資訊圖表---------------
*****************************************/

.info_1,
.info_2,
.info_3 {
	display: none;
	z-index: 3;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.info_1 div,
.info_2 div,
.info_3 div {
	overflow: auto;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	opacity: 0.8;
	position: relative;
    top: 50%;
    transform: translate(0,-50%);
}

.info_1 img,
.info_2 img,
.info_3 img {
	height: inherit;
	border-bottom: #30539d 1px solid;
	margin: 0 auto;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}

.info_mask {
	display: none;
	width: 100%;
	height: 100%;
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(../img/bg2.jpg) no-repeat;
	background-size: cover;
}

.info_close {
	z-index: 10;
	position: absolute;
	right: 3%;
	top: 5%;
	width: 50px;
	height: 50px;
	color: #fff;
	font-size: 2.5rem;
	background-color: rgba(251,177,29,.8);
	border: #FBB11D 2px solid;
	border-radius: 50%;
}

.info_close:hover {
	background-color: rgba(251,177,29,.6);
}

/****************************************
-----------------過場動畫-----------------
*****************************************/

.circle_cube img.sec4_1 {
	height: 250%;
	transform: rotate(-64deg);
	right: -7%;
	top: 10%;
}

/*******************************************************************
------------------------------section5------------------------------
********************************************************************/

#section5 {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 14;
}

.section5_text {
	text-align: right;
	z-index: 1;
	position: absolute;
    top: 30%;
    right: 10%;
    width: 30%;
    height: 30%;
}

.section5_text article {
	line-height: 2;
}

.section5_btn_1 div {
	position: absolute;
	left: 14%;
	top: 35%;
	width: 30%;
	height: 50%;
	background: url("../img/daanriver_btn01.png") no-repeat;
	background-size: contain;
}

.section5_btn_1 div:hover {
	background: url("../img/daanriver_btn02.png") no-repeat;
	background-size: contain;
}

.section5_btn_img_1 {
	display: none;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background: url("../img/daanriver_map.png") no-repeat center;
	background-size: contain;
	position: relative;
	z-index: 200;
}

.section5_btn_2 div {
    position: absolute;
    left: 42%;
    top: 55%;
    width: 20%;
    height: 35%;
    background: url(../img/farming_btn03.png) no-repeat;
    background-size: contain;
}

.section5_btn_2 div:hover {
	background: url(../img/farming_btn04.png) no-repeat;
    background-size: contain;
}

.section5_btn_3 div {
    position: absolute;
    right: 20%;
    top: 55%;
    width: 15%;
    height: 35%;
    background: url(../img/farming_btn01.png) no-repeat;
    background-size: contain;
}

.section5_btn_3 div:hover {
	background: url(../img/farming_btn02.png) no-repeat;
    background-size: contain;
}

.section5_mask {
	display: none;
	width: 100%;
	height: 100%;
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(../img/bg2.jpg) no-repeat;
	background-size: cover;
}

.section5_map_close {
	z-index: 10;
	font-size: 2.5rem;
	position: absolute;
	right: 3%;
	top: 5%;
	width: 50px;
	height: 50px;
	color: #fff;
	background-color: rgba(251,177,29,.8);
	border: #FBB11D 2px solid;
	border-radius: 50%;
}

.section5_map_close:hover {
	background-color: rgba(251,177,29,.6);
}

/****************************************
-----------------過場動畫-----------------
*****************************************/

.circle_cube img.sec5_1 {
	height: 250%;
	transform: rotate(-150deg);
	right: -10%;
	top: 10%;
}

/*******************************************************************
------------------------------section6------------------------------
********************************************************************/

#section6 {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.section6_text {
	z-index: 1;
	position: absolute;
    top: 35%;
    left: 10%;
    width: 30%;
    height: 30%;
}

.section6_text article {
	line-height: 2;
}

.section6_btn_1 div {
    position: absolute;
    left: 10%;
    top: 63%;
    width: 12%;
    height: 35%;
    background: url(../img/fruit_btn01.png) no-repeat;
    background-size: contain;
}

.section6_btn_1 div:hover {
	background: url(../img/fruit_btn02.png) no-repeat;
    background-size: contain;
}

/****************************************
-----------------食物銀行-----------------
*****************************************/

.section6_btn_2 div {
    position: absolute;
    right: 25%;
    top: 57%;
    width: 12%;
    height: 35%;
    background: url(../img/bank01.png) no-repeat;
    background-size: contain;
}

.section6_btn_2 div.bank_img_hover {
	background: url(../img/bank02.png) no-repeat;
    background-size: contain;
}

.section6_btn_2 p {
	display: inline;
    padding: 10px;
    color: #333;
    background-color: rgba(255,255,255,0.5);
    border-radius: 3px;
    position: relative;
    left: 100%;
    top: 45%;
}

.section6_btn_2 p.bank_text_hover {
	background-color: #fff;
}

/****************************************
-----------------過場動畫-----------------
*****************************************/

.circle_cube img.sec6_1 {
	height: 250%;
    transform: rotate(-240deg);
    right: -40%;
    top: 15%;
}

/*******************************************************************
-------------------------------footer-------------------------------
********************************************************************/

.footer {
	z-index: 15;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 2.5%;
}

.footer h6 {
	color: #666;
}
