/**************************************************
*
*   web color
*
*   white       : #fff
*   lightyellow : #FFFDE5
*   orange		: #FBB11D
*   green		: #BFC23D
*   red			: #E77876
*	brown		: #B8A880
*   blue		: #B0DEDB
*   dark gray   : #333
*
**************************************************/

/*
basic
*/

* {
	transform: translateZ(0);
}

main {
	background: lightblue url(../img/bg.jpg);
	background-size: cover;
}

p {
	font-size: 1.8rem;
	font-weight: 600;
}

a,
span {
	font-size: 1.25rem;
}

.display_none {
	display: none;
}

/*******************************************************************
-------------------------------loading-------------------------------
********************************************************************/

.loading_wapper {
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #0a0e22;
}

.loading-role img {
	width: 10%;
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%,-50%);
}

.loading_count {
	color: white;
	font-size: 1rem;
	position: absolute;
	left: 50%;
	top: 50vh;
	transform: translate(-50%,-50%);
}

/*******************************************************************
-------------------------------video--------------------------------
********************************************************************/

.video_box {
	display: none;
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
}

.video_close {
	z-index: 10;
	position: absolute;
	right: 3%;
	top: 5%;
	width: 50px;
	height: 50px;
	color: #fff;
	font-size: 2.5rem;
	background-color: transparent;
	border: #fff 2px solid;
	border-radius: 50%;
}

.video_close:hover {
	background-color: rgba(256,256,256,0.5);
}

.video_open {
	display: block;
}

#video_gaga {
	width: 100vw;
	height: 100vh;
}

/*******************************************************************
-------------------------------navbar-------------------------------
********************************************************************/

.menubar {
	z-index: 9;
	width: 100%;
	height: 100px;
	position: absolute;
	padding: 50px 20px 0;
	text-align: center;
}

.logo,
.home,
.gaga,
.daanriver,
.spice,
.farming,
.fruit {
	display: inline-block;
	width: 160px;
	height: 50px;
	background-size: cover !important;
	text-align: center;
}

.logo img {
	height: inherit;
}

.hover_area {
	background: url(../img/text_02.svg) center;
}

.active {
	background: url(../img/text_03.svg) center;
	color: #333;
	letter-spacing: 1px;
}

.active:hover {
	color: #333;
}

.btn_menu {
	color: #333;
	letter-spacing: 1px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	transition: all 1s ease;
}

.btn_menu:hover {
	color: #fff;
}

.btn_menu:hover,
.btn_menu:focus,
.btn_menu:active {
	text-decoration: none;
}

/****************************************
-----------------js hover----------------
*****************************************/

.bg_hover {
	background: url(../img/text_03.svg) center;
}

.btn_menu_hover {
	letter-spacing: 2px;
	color: #fff;
	font-size: 1.25rem;
	text-decoration: none;
}

/*******************************************************************
------------------------------section0------------------------------
********************************************************************/

#section0 {
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
}

/*******************************************************************
------------------------------section1------------------------------
********************************************************************/

#section1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	pointer-events: none;
}

/****************************************
-----------------星球本體-----------------
*****************************************/

.circle_hover {
	z-index: 8;
}

.circle_cube {
	z-index: 3;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-align: right;
	pointer-events: none;
}

.circle_cube img {
	transition: all 2s;
	position: absolute;
	transform: rotate(0deg);
	right: 5%;
	height: inherit;
	margin-left: 0;
}

.circle_normal {
	animation-name: circle_animate;
	animation-direction: alternate;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes circle_animate {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(5%);
	}
}

.circle_btn_hover {
	z-index: 5;
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
}

.circle_btn_hover.show {
	opacity: 1;
}

.circle_shandow_daanriver,
.circle_shandow_spice,
.circle_shandow_farming,
.circle_shandow_fruit {
	opacity: 0;
}

.circle_daanriver,
.circle_spice,
.circle_farming,
.circle_fruit {
	width: 22vw;
	height: 22vw;
	position: absolute;
	border-radius: 50%;
}

.circle_outside {
	z-index: 50;
}

.circle_daanriver {
	top: 7%;
	right: 30%;
}

.circle_spice {
	right: 4%;
	top: 16%;
}

.circle_farming {
	right: 13%;
	bottom: 0;
}

.circle_fruit {
	right: 37%;
	bottom: 5%;
}

.circle_btn {
	color: #333;
	opacity: 0.9;
	position: absolute;
	width: 45%;
	height: 45%;
	top: 30%;
	left: 30%;
	transform: scale(0);
	background: url(../img/circle.svg) center;
	background-size: cover;
	text-align: center;
	transition: transform .5s ease;
}

.circle_btn.open {
	transform: scale(1);
}

.circle_btn p {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

/****************************************
-----------------鳥的物件-----------------
*****************************************/

.bird_cube {
	z-index: 100;
	position: absolute;
	right: 15%;
	bottom: 0;
	width: 100vh;
	height: 100vh;
	animation-name: bird_animate;
	animation-duration: 7s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	pointer-events: none;
}

.bird {
	width: 50%;
	height: 40%;
	top: 10%;
	left: 30%;
	transform: rotate(75deg);
}

@keyframes bird_animate {
	0% {
		transform: rotate(0deg);
		width: 40vh;
	}
	50% {
		width: 65vh;
	}
	100% {
		transform: rotate(360deg);
		width: 40vh;
	}
}

/****************************************
-----------------漂浮島們-----------------
*****************************************/

.island_cube {
	position: absolute;
	left: 0;
	top: 0;
	width: 90vh;
	height: 100vh;
}

.island1 {
	width: 100%;
	height: 50%;
}

.island1_img {
	height: 45%;
	position: absolute;
	right: 10%;
	bottom: 0;
	animation-name: island1_animate;
	animation-direction: alternate;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.island2 {
	width: 100%;
	height: 50%;
}

.island2 img {
	height: 75%;
	position: absolute;
	top: 10%;
	left: 20%;
	animation-name: island2_animate;
	animation-direction: alternate;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes island1_animate {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(20%);
	}
}

@keyframes island2_animate {
	from {
		transform: translateY(10%);
	}
	to {
		transform: translateY(0);
	}
}

/****************************************
------------------跳跳蟲------------------
*****************************************/

.jump {
	position: absolute;
	left: 25%;
	top: -15%;
	width: 170px;
	height: 170px;
	background: url(../img/none2.gif);
	background-size: cover;
	animation-name: island2_animate;
	animation-direction: alternate;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.hint {
	position: absolute;
	top: 40%;
	left: 10%;
	width: 60%;
	height: 60%;
	background: url(../img/text_01.svg) center no-repeat;
	background-size: contain;
	text-align: center;
}

.hint p {
	position: absolute;
	top: 52%;
	left: 60%;
	transform: translate(-70%,-100%);
	width: 100%;
}

.hint img {
	width: 45px;
	height: 45px;
}

/*******************************************************************
------------------------------section2------------------------------
********************************************************************/

#section2 {
	display: none;
	z-index: 10;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

.section2_text_area {
	z-index: 1;
	width: 85%;
	height: 85%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: url("../img/text_04.svg") no-repeat;
	background-size: contain;
}

.section2_mask {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
}

.section2_text {
	width: 70%;
	height: 65%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.section2_text_area_close {
	z-index: 10;
	position: absolute;
	right: 3%;
	top: 5%;
	width: 50px;
	height: 50px;
	color: #fff;
	font-size: 2.5rem;
	background-color: transparent;
	border: #fff 2px solid;
	border-radius: 50%;
}

.section2_text_area_close:hover {
	background-color: rgba(256,256,256,0.5);
}

/*******************************************************************
------------------------------section3------------------------------
********************************************************************/

#section3 {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/****************************************
-----------------過場動畫-----------------
*****************************************/

.circle_cube img.sec3_1 {
	height: 250%;
	transform: rotate(22deg);
	right: -20%;
	top: 10%;
}

/****************************************
----------------左右對話框----------------
*****************************************/

.section3_left {
	position: absolute;
	top: 20%;
	left: 10%;
	width: 30%;
	height: 30%;
	background: url(../img/text_04.svg) center no-repeat;
	background-size: contain;
}

.section3_left article {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.section3_right {
	position: absolute;
	top: 20%;
	right: -10%;
	width: 60%;
	height: 60%;
	background: url(../img/text_05.svg) center no-repeat;
	background-size: contain;
}

.section3_right article {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.section3_left p,
.section3_right p {
	margin-bottom: 25px;
}

/*******************************************************************
------------------------------section4------------------------------
********************************************************************/

#section4 {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/****************************************
-----------------過場動畫-----------------
*****************************************/

.circle_cube img.sec4_1 {
	height: 250%;
	transform: rotate(-68deg);
	right: -20%;
	top: 10%;
}

/*******************************************************************
------------------------------section5------------------------------
********************************************************************/

#section5 {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/****************************************
-----------------過場動畫-----------------
*****************************************/

.circle_cube img.sec5_1 {
	height: 250%;
	transform: rotate(-150deg);
	right: -20%;
	top: 10%;
}

/*******************************************************************
------------------------------section6------------------------------
********************************************************************/

#section6 {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/****************************************
-----------------過場動畫-----------------
*****************************************/

.circle_cube img.sec6_1 {
	height: 250%;
	transform: rotate(-240deg);
	right: -20%;
	top: 10%;
}
