/**************************************************
*
*   web color
*
*   white       : #fff
*   lightyellow : #FFFDE5
*   orange		: #FBB11D
*   green		: #BFC23D
*   red			: #E77876
*	brown		: #B8A880
*   dark brown  : #8e6828
*   blue		: #B0DEDB
*   dark gray   : #333
*
**************************************************/

/*
basic
*/

* {
	font-family: "wt011";
	font-weight: "400";
}

body {
	background: lightblue url(../img/bg.jpg) no-repeat;
}

.main {
	padding: 0;
}

.main2 {
	padding: 0 30px;
	background: #fff url(../img/bg2.jpg);
}

body h3 {
	font-size: 52px;
}

body h4 {
	font-size: 48px;
}

body h5 {
	font-size: 42px;
}

body h6,
span {
	font-size: 36px;
}

/*******************************************************************
-------------------------------施工中-------------------------------
********************************************************************/

.bug {
	text-align: center;
	width: 100vw;
	height: 100vw;
}

.bug img {
	width: 50%;
}

/*******************************************************************
-------------------------------navbar-------------------------------
********************************************************************/

.menubar {
	z-index: 3;
	width: 100%;
	height: 6%;
	margin-top: 8%;
	margin-left: 7%;
	position: fixed;
	left: 0;
}

.logo,
.menu {
	display: inline-block;
	width: 42vw;
}

.menu {
	text-align: right;
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
}

.menu img {
	height: 40%;
	position: relative;
	right: -87%;
}

/****************************************
----------------menu_area---------------
*****************************************/

.menu_area {
	z-index: 2;
	display: none;
	position: fixed;
	left: 100%;
	top: 0;
	width: 50%;
	height: auto;
	background-color: #eee;
}

.menu_area a:visited,
.menu_area a:hover,
.menu_area a:active {
	text-decoration: none;
}

.menu_area h5 {
	color: #000;
}

.menu_area h6 {
	color: #b48563;
}

.menu_area ul {
	padding-top: 15.5vh;
	padding-left: 17%;
	list-style-type: none;
}

.menu_area li {
	margin-bottom: 2.6vh;
}

.link {
	margin-top: 10vh;
}

.link_btn {
	margin-left: 16%;
	padding-bottom: 6vh;
}

.link_btn img {
	display: inline-block;
	width: 25%;
	margin-right: 7.5px;
}

/*所在頁面標示*/
.menu_area div.menu_active {
	padding-left: 15px;
	border-left: 10px solid #FBB11D;
}

/*******************************************************************
------------------------------section1------------------------------
********************************************************************/

#section1 {
	width: 100%;
    height: 90%;
    position: relative;
    top: 10vh;
}

#section1 div {
	width: 100%;
	height: 100%;
	background: url(../img/mobile/circle_m.png) center no-repeat;
	background-size: contain;
	animation-name: circle;
	animation-direction: alternate;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

/****************************************
------------------footer-----------------
*****************************************/

.footer {
	color: #666;
	text-align: center;
	width: 100%;
	height: 6%;
	margin-top: 4vh;
	padding-bottom: 12vh;
	position: relative;
	z-index: 1;
}

.footer h6:last-child {
	color: #000;
}

/****************************************
------------------animate----------------
*****************************************/

@keyframes circle {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(5%);
	}
}

@keyframes menu {
	from {
		left: 100%;
	}
	to {
		left: 50%;
	}
}

.menu_area.menu_animate {
	display: block;
	left: 50%;
	animation-name: menu;
	animation-duration: .5s;
	animation-timing-function: linear;
}

/*******************************************************************
------------------------------section2------------------------------
********************************************************************/

#section2 {
	padding-top: 13.5vh;
	text-align: center;
}

/****************************************
----------what's the gaga farming--------
*****************************************/

.sec2_pic1 {
	width: 100%;
	height: 37%;
	background: url(../img/section2/team_photo.png) no-repeat;
	background-size: contain;
}

.team_info {
	width: 100%;
	color: #8e6828;
}

.team_info_middle {
	width: 68%;
	padding-top: 3vh;
	margin: 0 auto;
}

.team_line {
	width: 100px;
	height: 4px;
	border: 4px dotted #FBB11D;
	margin: 0 auto;
}

.team_info h6 {
	margin-bottom: 3vh;
}

.team_info h5 {
	margin-top: 3vh;
	text-align: left;
	line-height: 1.5;
	color: #000;
}

/****************************************
---------------team members-------------
*****************************************/

.member_info {
	color: #8e6828;
	padding-top: 3vh;
}

.member_info h6 {
	margin-bottom: 3vh;
}

.member h6 {
	margin-bottom: 0;
}

.member h5 {
	color: #000;
}

.member {
	width: 100%;
	height: 100%;
}

.member1_img,
.member2_img,
.member3_img,
.member4_img {
	width: 100%;
	height: 37%;
}

.member1_img {
	background: url(../img/section2/member1-1.png) no-repeat;
}

.member2_img {
	background: url(../img/section2/member2-1.png) no-repeat;
}

.member3_img {
	background: url(../img/section2/member3-1.png) no-repeat;
}

.member4_img {
	background: url(../img/section2/member4-1.png) no-repeat;
}

/****************************************
----------------exhibition--------------
*****************************************/

.ex_info {
	color: #8e6828;
}

.ex_info h6 {
	margin-bottom: 3vh;
}

.timeline {
	margin-top: 3vh;	
}

.timeline img {
	width: 52%;
}

/****************************************
-------------------thanks----------------
*****************************************/

.thx_info {
	color: #8e6828;
	padding-top: 3vh;
}

.thx_info h6 {
	margin-bottom: 3vh;
}

.thx_text {
	width: 69%;
	color: #000;
	line-height: 1.5;
	padding-top: 3vh;
	text-align: left;
	margin: 0 auto;
}

.thx_area {
	width: 75%;
	margin: 0 auto;
}

.thx_title {
	color: #000;
	margin: 3vh 0;
	padding: 6px 0;
}

.thx_nutc {
	background-color: #fbb11d;
}

.thx_mountain {
	background-color: #b0dedb;
}

.thx_daanriver {
	background-color: #e77876;
}

.thx_other {
	background-color: #bfc23d;
}

.thx_name span {
	display: inline-block;
	background-color: #ddd;
	padding: 10px 15px;
	margin: 0 7px 20px;
}

/*******************************************************************
------------------------------section3------------------------------
********************************************************************/

#section3,
#section4,
#section5,
#section6 {
	width: 100%;
    position: relative;
    top: 10vh;
}

.sec3_cover,
.sec4_cover,
.sec5_cover,
.sec6_cover {
	width: 100%;
	height: 59%;
	background: url(../img/mobile/circle_m_daanriver.png) top no-repeat;
}

.sec3_bg,
.sec4_bg,
.sec5_bg,
.sec6_bg {
	display: inline-block;
	width: 100%;
	background: linear-gradient(#ccaf83,#fefce7);
	position: relative;
}

.sec3_text,
.sec4_text,
.sec5_text,
.sec6_text {
	width: 100%;
	padding: 0 12vw 0;
}

#section3 h4,
#section4 h4,
#section5 h4,
#section6 h4 {
	font-size: 46px;
	font-family: PingFangTC;
	font-weight: bold;
	margin-bottom: 4vh;
}

#section4 h4,
#section5 h4,
#section6 h4 {
	text-align: center;
}

#section3 h5,
#section4 h5,
#section5 h5,
#section6 h5  {
	line-height: 1.5;
}

.sec3_info,
.sec3_1 img,
.sec3_3 img,
.sec4_img img,
.sec5_img img,
.sec6_img img {
	width: 100%;
}

.sec3_2,
.sec5_3 div {
	width: 100%;
	height: 65%;
	overflow: scroll;
}

.sec3_2 img {
	height: 100%;
}

/*平板以上裝置*/
@media (min-device-width: 768px) and (max-device-width: 1279px) {
	.sec3_cover {
		width: 100%;
		height: 77%;
		background: url(../img/mobile/circle_m_daanriver.png) top no-repeat;
	}
}

/*電腦以上裝置*/
@media (min-device-width: 1280px) {
	body h5 {
		font-size: 22px;
	}

	body h6,
	span {
		font-size: 16px;
	}
}

/*******************************************************************
------------------------------section4------------------------------
********************************************************************/

.sec4_cover {
	background: url(../img/mobile/circle_m_spice.png) top no-repeat;
}

.sec4_bg {
	background: linear-gradient(#e3dabc,#dcce93);
}

.sec4_text {
	margin-bottom: 3vh;
}

/****************************************
-----------------drop_down--------------
*****************************************/

.sec4_info,
.sec5_info,
.sec6_info {
	width: 90%;
	margin: 0 auto;
}

#section4 .sec4_info h4,
#section5 .sec5_info h4,
#section6 .sec6_info h4 {
	text-align: left;
	position: relative;
	top: 50%;
	transform: translate(0,-50%);
}

.sec4_info_title,
.sec5_info_title,
.sec6_info_title {
	width: 100%;
	height: 7.5%;
	background-color: rgba(251, 177, 29, 0.3);
	padding: 0 6vw 0;
}

.sec4_info_title h4::after,
.sec5_info_title h4::after,
.sec6_btn h4::after {
	content: '\25BC';
	color: #8e6828;
	position: absolute;
	right: 0;
	transition: transform 0.6s;
}

.sec4_info span,
.sec5_info span,
.sec6_info span {
	border-style: solid;
	border-width: 3vw 3vw 0 3vw;
	border-color: #8e6828 transparent transparent transparent;
}

.sec4_img,
.sec5_img,
.sec6_img {
	display: none;
	background: #fff url(../img/bg2.jpg);
}

/*******************************************************************
------------------------------section5------------------------------
********************************************************************/

.sec5_cover {
	background: url(../img/mobile/circle_m_farming.png) 47% top no-repeat;
}

.sec5_bg {
	background: linear-gradient(#dfe9c5,#dfe9a1);
}

.sec5_text {
	margin-bottom: 3vh;
}

.sec5_3 div img {
	width: auto;
	height: 100%;
}

/*******************************************************************
------------------------------section6------------------------------
********************************************************************/

.sec6_cover {
	background: url(../img/mobile/circle_m_fruit.png) 45% top no-repeat;
}

.sec6_bg {
	background: linear-gradient(#e0d7ba,#dfe8a5);
}

.sec6_text {
	margin-bottom: 3vh;
}

.sec6_info a,
.sec6_info a:hover,
.sec6_info a:focus,
.sec6_info a:link,
.sec6_info a:active,
.sec6_info a:visited {
	color: #000;
	text-decoration: none;
}
