/**************************************************
*
*   web color
*
*   white       : #fff
*   lightyellow : #FFFDE5
*   orange		: #FBB11D
*   green		: #BFC23D
*   red			: #E77876
*	brown		: #B8A880
*   dark brown  : #8e6828
*   blue		: #B0DEDB
*   dark gray   : #333
*
**************************************************/

/*
basic
*/

* {
	font-family: "wt011";
	font-weight: "400";
}

body {
	background: lightblue url(../img/bg.jpg) no-repeat;
}

.main {
	padding: 0;
}

.main2 {
	padding: 0 30px;
	background: #fff url(../img/bg2.jpg);
}

body h3 {
	font-size: 52px;
}

body h4 {
	font-size: 48px;
}

body h5 {
	font-size: 42px;
}

body h6,
span {
	font-size: 36px;
}

/*******************************************************************
-------------------------------施工中-------------------------------
********************************************************************/

.bug {
	text-align: center;
	width: 100vw;
	height: 100vw;
}

.bug img {
	width: 50%;
}

/*******************************************************************
-------------------------------navbar-------------------------------
********************************************************************/

.menubar {
	z-index: 3;
	width: 100%;
	height: 6%;
	margin-top: 8%;
	margin-left: 7%;
	position: fixed;
	left: 0;
}

.logo,
.menu {
	display: inline-block;
	width: 42vw;
}

.menu {
	text-align: right;
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
}

.menu img {
	height: 40%;
	position: relative;
	right: -87%;
}

/****************************************
----------------menu_area---------------
*****************************************/

.menu_area {
	z-index: 2;
	display: none;
	position: fixed;
	left: 100%;
	top: 0;
	width: 50%;
	height: auto;
	background-color: #eee;
}

.menu_area a:visited,
.menu_area a:hover,
.menu_area a:active {
	text-decoration: none;
}

.menu_area h5 {
	color: #000;
}

.menu_area h6 {
	color: #b48563;
}

.menu_area ul {
	padding-top: 15.5vh;
	padding-left: 17%;
	list-style-type: none;
}

.menu_area li {
	margin-bottom: 2.6vh;
}

.link {
	margin-top: 10vh;
}

.link_btn {
	margin-left: 16%;
	padding-bottom: 6vh;
}

.link_btn img {
	display: inline-block;
	width: 25%;
	margin-right: 7.5px;
}

/*所在頁面標示*/
.menu_area div.menu_active {
	padding-left: 15px;
	border-left: 10px solid #FBB11D;
}

/*******************************************************************
------------------------------section1------------------------------
********************************************************************/

#section1 {
	width: 100%;
    height: 90%;
    position: relative;
    top: 10vh;
}

#section1 div {
	width: 100%;
	height: 100%;
	background: url(../img/mobile/circle_m.png) center no-repeat;
	background-size: contain;
	animation-name: circle;
	animation-direction: alternate;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

/****************************************
------------------footer-----------------
*****************************************/

.footer {
	color: #666;
	text-align: center;
	width: 100%;
	height: 6%;
	margin-top: 4vh;
	padding-bottom: 9vh;
	position: relative;
	z-index: 1;
}

/****************************************
------------------animate----------------
*****************************************/

@keyframes circle {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(5%);
	}
}

@keyframes menu {
	from {
		left: 100%;
	}
	to {
		left: 50%;
	}
}

.menu_area.menu_animate {
	display: block;
	left: 50%;
	animation-name: menu;
	animation-duration: .5s;
	animation-timing-function: linear;
}

/*******************************************************************
------------------------------section2------------------------------
********************************************************************/

#section2 {
	padding-top: 13.5vh;
	text-align: center;
}

/****************************************
----------what's the gaga farming--------
*****************************************/

.sec2_pic1 {
	width: 100%;
	height: 37%;
	background: url(../img/section2/team_photo.png) no-repeat;
	background-size: contain;
}

.team_info {
	width: 100%;
	color: #8e6828;
}

.team_info_middle {
	width: 68%;
	padding-top: 3vh;
	margin: 0 auto;
}

.team_line {
	width: 100px;
	height: 4px;
	border: 4px dotted #FBB11D;
	margin: 0 auto;
}

.team_info h6 {
	margin-bottom: 3vh;
}

.team_info h5 {
	margin-top: 3vh;
	text-align: left;
	line-height: 1.5;
	color: #000;
}

/****************************************
---------------team members-------------
*****************************************/

.member_info {
	color: #8e6828;
	padding-top: 3vh;
}

.member_info h6 {
	margin-bottom: 3vh;
}

.member h6 {
	margin-bottom: 0;
}

.member h5 {
	color: #000;
}

.member {
	width: 100%;
	height: 100%;
}

.member1_img,
.member2_img,
.member3_img,
.member4_img {
	width: 100%;
	height: 37%;
}

.member1_img {
	background: url(../img/section2/member1-1.png) no-repeat;
}

.member2_img {
	background: url(../img/section2/member2-1.png) no-repeat;
}

.member3_img {
	background: url(../img/section2/member3-1.png) no-repeat;
}

.member4_img {
	background: url(../img/section2/member4-1.png) no-repeat;
}

/****************************************
----------------exhibition--------------
*****************************************/

.ex_info {
	color: #8e6828;
}

.ex_info h6 {
	margin-bottom: 3vh;
}

.timeline {
	margin-top: 3vh;	
}

.timeline img {
	width: 52%;
}

/****************************************
-------------------thanks----------------
*****************************************/

.thx_info {
	color: #8e6828;
	padding-top: 3vh;
}

.thx_info h6 {
	margin-bottom: 3vh;
}

.thx_text {
	width: 69%;
	color: #000;
	line-height: 1.5;
	padding-top: 3vh;
	text-align: left;
	margin: 0 auto;
}

.thx_area {
	width: 75%;
	margin: 0 auto;
}

.thx_title {
	color: #000;
	margin: 3vh 0;
	padding: 6px 0;
}

.thx_nutc {
	background-color: #fbb11d;
}

.thx_mountain {
	background-color: #b0dedb;
}

.thx_daanriver {
	background-color: #e77876;
}

.thx_other {
	background-color: #bfc23d;
}

.thx_name span {
	display: inline-block;
	background-color: #ddd;
	padding: 10px 15px;
	margin: 0 7px 20px;
}